<body>
  <div class="text-center">
    <p><strong>404 - This user does not exist, but if they did, they might look lik this:</strong></p>
    <div><%= image_tag("error_img_#{rand(1..5)}.jpg", class:"error-img") %></div>
  </div>
</body>

