
<div style="width: 700px; margin: auto; height: 30px">
  <% flash.each do | type, message| %>
    <div class="alert <%= bootstrap_class_for(type) %> alert-dismissible show fade" role="alert">
    <%= message %>
    </div>
  <% end %>
</div>
