<div class="text-center">
<div class="card">
<div class="card-body">
<br>
<%= form_for @post do |form| %>
 <div class="new-post-form">
  <%= form.label :message %>
  <%= form.text_area :message %>
  <%= form.submit %>
<% end %>
 </div>
</div>
</div>

</div>